BODY
{
	background-color: #CCCCCC;
	background-image: -webkit-linear-gradient(#EEEEEE,#CCCCCC);
}	

@external speechBubble;
.speechBubble
{
	position: relative;
	background-color: #4496c6;
	border: solid 1px #ffffff;
	box-shadow: 0 6px 20px rgba(100, 100, 100, 0.3);
	margin: 40px;
	border-radius: 2px;
	padding: 10px;
	text-align: left;
	max-width: 700px;
}
.speechBubble:after
{
	content: "";
	position: absolute;
	top: -8px;
	left: 30%;
	border: 0px solid #fff;
	background-color: #4496c6;
	display: block;
	-webkit-transform: rotate(45deg);
	height: 15px;
	width: 15px;
	border-bottom: solid 1px transparent;
	border-right: solid 1px transparent;
}
.speechBubble P
{
	text-align: justify;
	text-shadow: 0 -1px rgba(0,0,0,0.2);
	color: #FFFFFF;
	font-size: 15px;
	-webkit-font-smoothing: antialiased;
}
.speechBubble H1
{
	color: #FFFFFF;
	text-shadow: 0 -1px rgba(0,0,0,0.3);
	font-size: 20px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	-webkit-font-smoothing: antialiased;
	font-weight: normal;
}

@external crux-MenuTabsDisposal, menuEntriesContainer, menuPanel;  
.crux-MenuTabsDisposal .menuEntriesContainer
{
	padding-top: 90px;
	background-repeat: no-repeat;
	background-position: top;
	padding-top: 80px;
	background-image: url(img/logo-large.png);
	background-position: center 10px;
}

@external layoutSectionIcon;
@sprite .layoutSectionIcon {
  gwt-image: "layoutSectionIcon";
  background-position: 12px center;
}
