HTML, BODY{
	overflow:hidden;
}
BODY{
	margin:0;
	background-size:100% auto;
	font-family:Roboto, Helvetica, Arial, sans-serif;
}
H1, .h1{
	margin-top: 10px;
	color: #004F5E;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.9);
	font-size:25px;
	font-weight:bold;
	letter-spacing:-1px;
}
p, .p{
	color:#333;
	text-shadow:0 1px 0 #fff;
}
@external view, view-opened, headerMenu, headerMenu-opened, MenuItem, MenuItem-disabled, MenuSeparator, header, header-opened;
.header{
	width:auto;
	height:45px;
	border-top:2px solid #779bd4;
	border-bottom:2px solid #213c66;
	color:#fff;
}
.header .buttonMenu{
	float:left;
	width:60px;
	height:38px;
	border:1px solid #1f3961;
	border-top:1px solid #152640;
	margin-top:3px;
	margin-left:5px;
	border-radius:6px;
	text-align:center;
	padding:0;
}
.header .buttonMenu div{
	width:auto;
	margin:4px 14px 0px 14px;
	background:white;
	border-radius:4px;
	height:3px;
}
.header .buttonMenu div:first-child{
	margin-top:11px;
}
.cruxLabel{
	width:100px;
	margin-top:10px;
	font-weight:bolder;
	font-size:25px;
	margin:0 auto;
	margin-top:8px;
	padding-left:30px;
	text-shadow:0 1px 2px rgba(0,0,0,0.7);
}
.cruxLogo{
	float:right;
	height:45px;
	margin-top:-40px;
}
.headerMenu{
	width:250px;
	height:480px;
	background:#333;
	position:absolute;
	z-Index:100;
	box-shadow:1px 0 0 rgba(255,255,255,0.5);
}
.headerMenu .MenuItem{
	color: #eee;
	display:block;
	border:none;
	background:none;
	width:250px;
	border-bottom:1px solid #212121;
	border-top:1px solid #444;
	padding:10px;
	font-size:17px;
	text-align:left;
	margin:0;
	text-shadow:0 1px 1px #000;
}
@sprite .footer{
	gwt-image: "rodapeBg";
	background-size:100% auto;
	height:72px;
	margin-top:0;
	padding-top:29px;
	position:relative;
	z-index:3;
	text-align:center;
}
.footer .poweredLabel{
	font-size:15px;
	color:#fff;
	text-shadow:0 2px 2px #000;
	text-align:center;
}
.footer .poweredImage{
	margin-top:10px;
	width:93px;
	height:32px;
}
.bannerAndNews{
}						
.bannerArea{
	width: 308px;
}
.contentAreas{
	width: 100%;
}
.contentLeft, .contentRight{
	font-family: monospace;
	color: #CCCCCC;
	width: 1px;
}
.contentCenter{
	width: 318px;
}
.contentHorizontalSeparator{
	color: #AAAAAA;
}
.newsBoard{
	width: 318px;
}
@external item;
.newsBoard .item
{
	border-top:1px solid rgba(0,0,0,0.2);
	box-shadow:0 1px 0 rgba(255,255,255,0.5) inset; 
	padding-bottom: 20px;
}
@external rssPanelTitle, rssPanelBody, entryTitle, entryDate;
.rssPanel{
	width: 285px;
}
.rssPanel .rssPanelTitle{
	margin-top: 0;
	margin-left: 0;
	padding:10px 0 0;
	font-weight: bold;	
	font-size:22px;
	text-shadow:0 2px 0 rgba(255,255,255,0.5);
}
.rssPanel .rssPanelBody{
	margin:12px;
	border-radius:6px;
	background:rgba(0,0,0,0.2);
	overflow:hidden;
	width: 100%;
}
.rssPanel .rssPanelBody TD{
	height: 40px;
	border-bottom:1px solid #333;
	position:relative;
}
.rssPanel .rssPanelBody TD:last-child{
	border-bottom:none;
}
.rssPanel .entryTitle{
	margin:0;
	color:#fff;
	text-shadow:0 1px 0px rgba(0,0,0,0.4);
	font-size:12px;
	padding-left:10px;
	font-weight:bold;
	width:100%;
	position:relative;
	z-index:2;
}
.rssPanel .entryDate{
	color:#fff;
	text-shadow:0 1px 0 rgba(0,0,0,0.7);
	padding:2px 4px;
	width:55px;
	font-size:9px;
	background:rgba(0,0,0,0.6);
	border-radius:4px 0 0 0;
	position:absolute;
	right:0;
	bottom:0;
	text-align:center;
}
@external rightArrow, leftArrow, leftArrow-disabled, rightArrow-disabled, bullet, bullet-active, messagePanel, title, text, longText, bannersArea;
.promoBanner .bannersArea{
	margin: 10px;
	margin-left: 0px;
	border-radius:6px;
	background:#333;
	padding:6px;
}
.promoBanner .leftArrow-disabled, .promoBanner .rightArrow-disabled{
	opacity: .5;
}
.promoBanner .bullet{
	width: 10px;
	height: 10px;
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid white;
	border-radius: 8px;
	margin-right: 10px;
	float: left;
	cursor: pointer;
	margin-top: 20px;
}
.promoBanner .bullet-active{
	background: white !important;
}
.promoBanner .messagePanel{
	padding-top: 10px;
	padding-left: 15px;
	height: 100%;
	width:100%;
}
.promoBanner button{
	background:rgba(0,0,0,0.8);
	border-radius:10px 10px 0 0;
	border:none;
	padding:5px 10px;
	color:#fff;
	box-shadow:none;
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-55px;
	width:auto;
}
.promoBanner button:active {
	background:rgba(0,0,0,1);
}
.promoBanner .title{
	font-size:28px;
	color:#FFF;
	text-shadow:0 1px 0 #000;
}
.promoBanner .text{
	color: #fff;
	font-size: 14px;
	margin-left: 0px;
	margin-right: 0px;
	text-align: left;
	text-shadow:0 0 1px #000, 0 1px 0 #000;
	width: 260px;
	opacity:0.7;
	margin-top:-20px;
}
.promoBanner .longText .text{
	font-size: 14px;
}
.divDownTxt{
 	background:#333;
 	background:rgba(0,0,0,0.2);
 	box-shadow:0 1px 5px rgba(0,0,0,0.4) inset, 0 1px 0 #fff;
 	border-radius:5px;
 	height:150px;
 	padding:10px;
 	text-align: left;
}
.divDownTxt .divDownTxtTitle {
	font-size:19px;
	color:#fff;
	text-shadow:0 1px 1px rgba(0,0,0,0.4);
	text-align: left;
	font-weight: bold;
	padding-left:10px;
	padding-top:10px;	
}
.divDownTxt ul{
	padding:0;
	margin:0;
	list-style:none;
}
.divDownTxt li {
	color:#fff;
	text-shadow:0 1px 1px rgba(0,0,0,0.3);
	text-align: left;
	margin-top: 10px;
	font-size:11px;
}
.shyLink, .shyText {
	color: rgba(0, 0, 0, 0.4);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
	font-size: 12px;
	padding: 2px;
}
.shyLink{
	text-decoration: underline;
}
.shyText{
	margin-top: 1px;
}
.communityContent{
	width: 320px;
}	
@external blockImg, blockText, refButton;
.blockImg{
	float:left;
	margin-bottom:8px;
}
.blockText{
	float:left;
	width:200px;
	margin-left:10px;
}
.blockTypes, .blockTypes2{
	margin-right:10px;
	height:200px;
}
.blockTypes .refButton, .blockTypes2 .refButton{
	display:inline;
	cursor: pointer;
	padding: 10px 25px;
	background: #005266;
	box-shadow: 0 0 0 3px rgba(255,255,255,0.2), 0 0 0 1px rgba(0,0,0,0.2) inset;
	border-radius: 4px;
	border: solid 0px;
	text-align: center;
	color: #DDDDDD;
	text-shadow:0 1px 0 #fff;
	font-size: 17px;
}
.blockTypes .refButton:hover, .blockTypes2 .refButton:hover{
 	box-shadow: 0 0 0 3px rgba(255,255,255,0.5), 0 0 0 1px rgba(0,0,0,0.3) inset;
}
.blockTypes a, .blockTypes2 a 
{
	margin-right: 10px;
	margin-top: 5px;
	text-decoration: none;
}
.blockText h1
{
 	font-size:23px;
 	letter-spacing:-1px;
 	margin-top:0;
}
.blockText p
{
 	font-size:14px;
}
@sprite .donwloadButton{
	gwt-image: "iconDownload";
	border: 0 none;
}
.siteTutorial{
}
#_crux_2insideContentDown p{
	margin-bottom:0;
}
#_crux_2insideContentDown tr h1{
	margin:0;
	font-size:20px;
}
#_crux_2learnContent table{
	width:320px;
}
@if user.agent safari
{
	BODY {background:literal("-webkit-gradient(linear,left top,left bottom,color-stop(0, #e5e5e5),color-stop(0.25, #a8a8a8),color-stop(0.5, #e5e5e5),color-stop(1, #a8a8a8))");}
	.header{
		background:literal("-webkit-gradient(linear,left top,left bottom,color-stop(0, #618bcd),color-stop(1, #2b4f87))");
		-webkit-transition:all 0.2s ease-in-out;
	}
	.header .buttonMenu{
		-webkit-box-shadow:0 2px 0 #638dce inset, 0 1px 0 #3b6cb9;
		background:literal("-webkit-gradient(linear,left top,left bottom,color-stop(0, #618bcd),color-stop(1, #2b4f87))");
	}
	.header .buttonMenu div{-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.9);}
	.header .buttonMenu:active{
		-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.5) inset, 0 1px 0 #3b6cb9;
		background:-webkit-linear-gradient(90deg, #618bcd,#2b4f87);
	}
	.header-opened{
		-webkit-transform:translateX(250px);
	}
	.headerMenu{
		-webkit-transform:translateX(-251px);
		-webkit-transition:all 0.2s ease-in-out;
	}
	.headerMenu-opened{
		-webkit-transform:translateX(0px);
	}
	.view{
		-webkit-transition:all 0.2s ease-in-out;
	}
	.view-opened{
		-webkit-transform:translateX(250px);
	}
	.rssPanel .rssPanelBody{-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.5) inset, 0 2px 0 rgba(255,255,255,0.5);}
	.rssPanel .rssPanelBody TD{
		background:literal("-webkit-gradient(linear,left top,left bottom,color-stop(0, rgba(0,0,0,0.2)),color-stop(1, rgba(0,0,0,0)))");
		-webkit-box-shadow: 0 1px rgba(0,0,0,0.15);
	}
	.promoBanner .bannersArea{-webkit-box-shadow:0 2px 4px #000 inset, 0 2px 0 rgba(255,255,255,0.5);}
	.promoBanner .bullet{-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2) inset;}
	.promoBanner .bullet-active{
		-webkit-transition: all 0.25s linear;
		-webkit-box-shadow: 0 0 3px rgba(255,255,255,0.5) inset, 0 0 5px rgba(0,0,0,0.4) !important;
	}
	.promoBanner button:hover {
		-webkit-transition: all 0.3s linear;
		-webkit-box-shadow: 0 0 0 3px rgba(255,255,255,0.9), 0 0 5px 2px rgba(0,0,0,0.4), 0 1px 0 #0096af inset !important;
	}
	.blockTypes .refButton, .blockTypes2 .refButton{
		-webkit-transition: box-shadow 0.3s linear;
		background: -webkit-linear-gradient(#eff6f8 0%, #c5cdd3 100%);
	}
	.blockTypes .refButton:hover, .blockTypes2 .refButton:hover{
	 	-webkit-transition: box-shadow 0.3s linear;
	}
	.blockTypes .refButton:active, .blockTypes2 .refButton:active{
	 	background: -webkit-linear-gradient(#c5cdd3 0%, #eff6f8 100%);
	}
} 
@if user.agent gecko gecko1_8
{
	BODY {background:-moz-linear-gradient(#e5e5e5 0%,#a8a8a8 25%,#e5e5e5 50%,#a8a8a8 100%);}
}
@if user.agent opera
{
	BODY {background:-o-linear-gradient(#e5e5e5 0%,#a8a8a8 25%,#e5e5e5 50%,#a8a8a8 100%);}
}
@if user.agent ie9
{
	BODY {background:-ms-linear-gradient(#e5e5e5 0%,#a8a8a8 25%,#e5e5e5 50%,#a8a8a8 100%);}
}
