a{
	color:#fff;
	text-decoration:none;
}
BODY, HTML
{
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family:Helvetica, Sans-serif;
}

BODY
{
	background: url(../img/body-texture.png) 0px 224px repeat-x;
	background-color: #B8BCBD;
}

.Frame
{
	width: 100%;
	height: 100%;
}

.Header
{
	height: 224px;
	background-color: #00242C;
}

.HeaderAreas
{
	width: 100%;
	height: 224px;
}

.HeaderMenuLeft
{
}

.HeaderMenu
{
	width: 900px;
	background: url(../img/header-logo.jpg) top left no-repeat;
	height: 224px;
}

.Content
{
	background: url(../img/body-mountains.png) bottom repeat-x;
	padding-top: 10px;
}

.Footer
{
	height: 104px;
	width: 100%;
	background-image: url(../img/footer-bg.png);
}

.FooterContent
{
	width: 100%;
	background: url(../../img/footer-texture.png) center 12px no-repeat;
	height: 97px;
	padding-top:11px;
	margin-top:5px;
	margin-bottom:1px;
}
.FooterContent td{
	width:50%;
	/*box-shadow:0 0 0 1px red inset;*/
}

.BannerAndNews
{
	width: 100%;
}						

.BannerArea
{
	height: 350;
	border: solid 1px red;
}

.NewsArea
{
	background: url(../img/content-box-bg.png) top no-repeat;
	background-size: 100% 100%; 
	width: 440px;
	padding: 10px;
}

.FeedsArea
{
	background: url(../img/content-box-bg.png) top no-repeat;
	background-size: 100% 100%; 
	width: 440px;
}

.NewsSeparator
{
	width: 20px;
	font-family: monospace;
	color: #CCCCCC;
}

.ContentAreas
{
	width: 100%;
	padding-top: 10px;
}

.ContentLeft, .ContentRight
{
	font-family: monospace;
	color: #CCCCCC;
}

.ContentCenter
{
	width: 900px;
}
.LinkSeparator{
	padding-left:10px;
	border-right:1px solid #fff;
	height:20px;
	margin-right:10px;
	opacity:0.18;
}
.FooterLinks{
	float:right;
	font-size:13px;
}
.CruxLabelFooter, .CruxLabelFooter2{
	color:#ccc;
}
.CruxLabelFooter{
	text-align:right;
	border-right:1px solid #001B20;
	padding-right:10px;
	padding-top:10px;
	font-size:12px;
}
.CruxLabelFooter3{
	text-align:right;
	border-right:1px solid #001B20;
	padding-right:10px;
}
.CruxLabelFooter2{
	border-left:1px solid #005C6C;
	padding-left:10px;
	padding-top:10px;
	font-size:12px;
	font-weight:normal;
}
.CruxLabelFooter4{
	border-left:1px solid #005C6C;
	padding-left:10px;
}
