.xdev-LabeledTextBox .label, .textBox
{
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
}

.xdev-LabeledTextBox .textBox-placeholder
{
    color: #aaa;
}

.xdev-PromoBanner .rightArrow
{
	width: 40px;
	height: 65px;
	background: url(../img/banner-right-arrow.png) top right no-repeat;
	cursor: pointer;
}

.xdev-PromoBanner .leftArrow
{
	width: 40px;
	height: 65px;
	background: url(../img/banner-left-arrow.png) top right no-repeat;
	cursor: pointer;
}

.xdev-PromoBanner .leftArrow-disabled, .xdev-PromoBanner .rightArrow-disabled
{
	opacity: .5;
}

.xdev-PromoBanner .bullet
{
	width: 10px;
	height: 10px;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 1px rgba(0,0,0,0.2) inset;
	border: 1px solid white;
	border-radius: 10px;
	margin-right: 15px;
	float: left;
	cursor: pointer;
	margin-top: 30px;
}

.xdev-PromoBanner .bullet-active
{
	-webkit-transition: all 0.25s linear;
	box-shadow: 0 0 3px rgba(255,255,255,0.5) inset, 0 0 5px rgba(0,0,0,0.4) !important;
	background: white !important;
}

.xdev-PromoBanner .messagePanel
{
	padding-top: 20px;
	padding-left: 35px;
	height: 100%;
	position: absolute;
}

.xdev-PromoBanner button
{
	cursor: pointer;
	-webkit-transition: box-shadow 0.3s linear;
	width: 200px;
	height: 40px;
	background: #005266;
	box-shadow: 0 0 0 3px rgba(255,255,255,0.2), 0 0 5px 2px rgba(0,0,0,0.4), 0 1px 0 #0096af inset;
	background: -webkit-linear-gradient(#006778 0%, #004A5D 100%);
	border-radius: 4px;
	border: solid 0px;
	text-align: center;
	color: white;
	font-size: 17px;
	float: right;
	margin-right: 10px;
	margin-top: 5px;
}

.xdev-PromoBanner button:active
{
	background: -webkit-linear-gradient(#004A5D 0%, #006778 100%);
}

.xdev-PromoBanner button:hover
{
	-webkit-transition: all 0.3s linear;
	box-shadow: 0 0 0 3px rgba(255,255,255,0.9), 0 0 5px 2px rgba(0,0,0,0.4), 0 1px 0 #0096af inset !important;
}

.xdev-PromoBanner .title
{
	font-size: 43px;
	color: #222;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	font-family: Helvetica;
	font-weight: bold;
}

.xdev-PromoBanner .text
{
	background-attachment: scroll;
	color: #153A42;
	font-family: Helvetica;
	font-size: 28px;
	margin-left: 0px;
	margin-right: 0px;
	text-align: justify;
	text-shadow: rgba(255, 255, 255, 0.496094) 0px 1px 0px;
	width: 360px;
}

.xdev-PromoBanner .longText .text
{
	font-size: 23px;
}

.xdev-SlideshowPhotoPanel .rightArrow
{
	width: 44px;
	height: 65px;
	background: url(../img/slideshow-right-arrow.png) top right no-repeat;
	cursor: pointer;
}

.xdev-SlideshowPhotoPanel .leftArrow
{
	width: 40px;
	height: 65px;
	background: url(../img/slideshow-left-arrow.png) top right no-repeat;
	cursor: pointer;
}

.xdev-SlideshowPlayPanel
{
	width: 40px;
	height: 40px;
	background: url(../img/slideshow-play.png) top right no-repeat;
	cursor: pointer;
}
		
.xdev-SlideshowPlayPanel-playing
{
	background: url(../img/slideshow-pause.png) top right no-repeat;
}

.xdev-SlideshowPhotoPanel .rightArrow-disabled, .xdev-SlideshowPhotoPanel .leftArrow-disabled, .xdev-SlideshowPlayPanel-disabled 
{
	opacity: .5;
}

.xdev-Slideshow DIV
{
	outline: none;
}
