<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>crossdeviceshowcase/index.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <javaee:param-name>outputCharset</javaee:param-name>
    <javaee:param-value>UTF-8</javaee:param-value>
  </context-param>
  <listener>
    <javaee:listener-class>org.cruxframework.crux.core.server.InitializerListener</javaee:listener-class>
  </listener>
  <servlet>
    <servlet-name>remoteServiceServlet</servlet-name>
    <servlet-class>org.cruxframework.crux.core.server.dispatch.RemoteServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>remoteServiceServlet</servlet-name>
    <url-pattern>*.rpc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>restServiceServlet</servlet-name>
    <servlet-class>org.cruxframework.crux.core.server.rest.servlet.RestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>restServiceServlet</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <listener>
    <javaee:listener-class>org.cruxframework.crux.core.server.DevModeInitializerListener</javaee:listener-class>
  </listener>
  <filter>
    <javaee:display-name>ModulesDeclarativeUIFilter</javaee:display-name>
    <filter-name>ModulesDeclarativeUIFilter</filter-name>
    <filter-class>org.cruxframework.crux.module.filter.ModulesDeclarativeUIFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ModulesDeclarativeUIFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>testViewServlet</servlet-name>
    <servlet-class>org.cruxframework.crux.module.development.ModulesViewTester</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testViewServlet</servlet-name>
    <url-pattern>/viewTester/*</url-pattern>
  </servlet-mapping>
</web-app>